body {
	font-family: 'PT Sans', sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	font-size: 22px;
	background: #e2ebf3;
	
}
div, p, form, input, a, span, button {
	box-sizing: border-box;
}
a {
	text-decoration: none;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
	font-size: 24px;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-weight: 700;
}
h1 {
	font-size: 65px;
}
h2 {
	font-size: 40px;
}
h3 {
	font-size: 37px;
}

h4 {
	font-size: 30px;
}
h5 {
	font-size: 25px;
}
h6 {
	font-size: 20px;
}
button {
	border: none;
}
button:focus {
    outline: none;
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(249, 195, 0, 0.3);
}
.scroll-hidden {
	overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
}
.container {
	max-width: 1500px;
}
.container-wider {
	max-width: 90%;
	margin: auto;
}
.has-errors {
    box-shadow: 0 1px 6px red;
    border-radius: 50px;
}
.error-input {
    color: #E13838;
    font-size: 11px;
    padding-top: 3px;
    position: absolute;
    width: 100%;
    left: 70%;
    bottom: -22px;
    transform: translate(-50%);
}
#popupForm .error-input {
    left: 50%;
    bottom: -18px;
}
.btn {
	font-size: 30px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 40px;
    background: #f3f361;
    border-radius: 50px;
}
.btn:hover {
	background: #f5da59;
}
.fixed-phone {
	background: rgba(0, 163, 255, 0.3);
	box-shadow: 0px 0px 0px 6px rgba(0, 163, 255, 0.1);
	width: 70px;
	height: 70px;
	position: fixed;
	border-radius: 50%;
	left: 15px;
    bottom: 15px;
	z-index: 99;
	padding: 8px 26px;
	color: #fff;
	font-size: 35px;
	transition: .5s;
}
.fixed-phone:hover {
	background: rgba(0, 163, 255, 0.7);
	box-shadow: 0px 0px 0px 7px rgba(0, 163, 255, 0.4);
	transition: .5s;
	color: #f3f361;
}
.fixed-phone::before{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 110px;
        height: 110px;
        border: 12px double rgba(0,0,0,0.1);
        border-radius: 50%;
        content: '';
        opacity: 0;
        transform: translateX(-50%) translateY(-50%) scale(0.2);
}
.fixed-phone:hover:before, .fixed-phone:hover:after{
        animation: pulsate 1.2s infinite;
}
@keyframes pulsate{
  30%{
        opacity: 1;
        transform: translateX(-50%) translateY(-50%) scale(1);
  }
        100%{
        opacity: 0.3;
        transform: translateX(-50%) translateY(-50%) scale(0.5);
        }
}
#toTop {
    background: rgba(0, 163, 255, 0.2);
    width: 40px;
    height: 40px;
    position: fixed;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    z-index: 99;
    padding: 4px 14px;
    color: #fff;
}
#toTop:hover {
	background: rgba(0, 163, 255, 0.3);
	box-shadow: 0px 0px 0px 7px rgba(0, 163, 255, 0.2);
	color: #f3f361;
}
#toTop p {
	font-size: 30px !important;
	color: #fff;
	width: 20px;
	height: 20px;
	display: block;
	margin: auto;
	position: absolute;
	left: 28%;
	margin-top: -2px;
	z-index: 4;
	cursor: pointer;
}
/*MODAL MENU MODAL FORM*/
.modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.52);
    top: 0;
    left: 0;
    display: none;
    z-index: 1;
}
.modal-form,
.modal-form_thank {
	display: none;
}
.modal-form_thank {
	width: 500px;
}
/*thank modal*/
.modal-form_thank,
.modal-form {
	position: fixed;
	width: 37%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 70px 50px 50px;
	box-sizing: border-box;
	background-color: #00000099;
	text-align: center;
	z-index: 99999;
	border-radius: 20px;
}
.modal-form_thank {
	width: 42%;
	background-color: #000000ed;
}
.entrance-form__title {
	color: #fff;
	line-height: 1.7;
	margin-bottom: 50px;
}
.form-modal__title {
	font-size: 25px;
	font-weight: 500;
	color: #fff;
}
.form-modal__subtitle {
	font-size: 18px;
	color: #fffefeba;
	font-weight: 500;
	margin-top: 30px;
}
.entrance-form__form  .form-input {
    width: 95%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 25px;
}
.entrance-form__btn {
	margin-top: 15px;
}
.close-popup {
	position: absolute;
	top: 20px;
    right: 10px;
    width: 35px;
    height: 35px;
	cursor: pointer;
}
.close-popup:before {
	content: '';
	position: absolute;
	width: 22px;
	height: 1px;
	background: #fff;
	top: 5px;
	left: -5px;
	transform: rotate(-45deg);
}
.close-popup:after {
	content: '';
	position: absolute;
	width: 22px;
	height: 1px;
	background: #fff;
	top: 5px;
	left: -5px;
	transform: rotate(45deg);
}
.close-popup:hover:before,
.close-popup:hover:after {
	background: #f3f361;
}
/*menu modal*/
.menu-modal {
    display: none;
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 55%;
    height: 100%;
    background: #060606de;
    padding: 25px 25px 20px;
    z-index: 1;
}
.menu-modal .close-popup {
	background: #151514;
}
.menu-modal .close-popup:before,
.menu-modal .close-popup:after {
	background: #fff;
	width: 30px;
	height: 2px;
	top: 16px;
    left: 3px;

}
/*menuFIXED*/
.fixed_menu {
   	position: fixed;
   	top: 0;
   	left: 0;
   	right: 0;
    transition: 0.2s top ease-in;
    background: #02020285;
    padding: 20px 0;
    height: 75px;
    z-index: 999999;
    box-shadow: 0px 4px 4px rgba(35, 49, 66, 0.04);
}
.fixed_menu .navigation-menu li a {
	color: #fff;
}
/*HAMBURGER*/
.hamburger-navigation-menu {
	padding: 0 10%;
}
.hamburger-navigation-menu li {
	text-align: center;
}
.hamburger-navigation-menu li a:hover {
	color: #f3f361;
}
.hamburger-navigation-menu li a {
	color: #fff;
	font-size: 25px;
	padding: 8px 0;
    display: inline-block;
    border-bottom: 1px solid #ffffff38;
}
.hamburger-navigation-menu .menu-phone {
	position: absolute;
    bottom: 35px;
}
/*-- header --*/
.header {
	background: url('../img/header-bg.png') no-repeat center /cover;
	position: relative;
	color: #fff;
	position: relative;
	z-index: 1;
}
.header-overlay:after {
	content: '';
	position: absolute;
	background: #0000007a;
	height: 100%;
	top: 0;
	left: -20%;
    width: 65%;
	transform: skewX(30.5deg);
	z-index: -2;
}
.header-overlay:before {
	width: 50%;
	right: -14.5%;
}
/*overlay fon*/
.header-overlay:before,
.advantages:before,
.services:before {
	content: '';
	position: absolute;
	background: #ffffff87;
	height: 100%;
	top: 0;
	transform: skewX(-30.5deg);
	z-index: -1;
}
.nav-menu {
	padding: 20px 30px;
	align-items: center;
}
.logo {
	width: 100%;
    max-width: 280px;
}
.navigation {
	margin: auto;
	padding-right: 100px;
}
.navigation-menu {
	width: 580px;
	justify-content: space-between;
}
.navigation-menu li a {
	color: #000;
	display: inline-block;
	font-size: 22px;
	position: relative;
}
.navigation-menu li a:hover {
	color: #000;
}
.navigation-menu li a:before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -20px;
	right: -20px;
	border-bottom: 2px solid #000;
	transition: 0.5s;
	transform: scaleX(0);
}
.navigation-menu li a:hover:before {
	transform: scaleX(1);
}
.home-offer {
	width: 600px;
    margin: auto;
    padding: 100px 0 100px 65px;
}
.home-offer__title {
	text-shadow: 0px -2px 10px rgb(0, 0, 0, 0.5);
}
.home-offer__subtitle {
	font-size: 37px;
    margin: 30px 0;
    letter-spacing: 0.03em;
}
.home-offer__btn {
	margin-bottom: 25px;
}
.home-offer-slider {
	height: 100%;
	position: relative;
}
.home-slide__info_mobile {
	display: none;
}
.fotorama {
	width: 85%;
	height: 100%;
	margin-left: auto;
}
.home-offer-slider {
	padding: 80px 0 0 0;
}
.home-slide {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.fotorama__stage {
	min-height: 680px;
}
.fotorama__nav-wrap {
	top: 210px;
    position: absolute;
    left: -300px;
    transform: rotate(-59deg);
}
.fotorama__nav--dots .fotorama__nav__frame {
    width: 65px;
    height: 30px;
}
.fotorama__nav__frame.fotorama__active .fotorama__dot,
.fotorama__dot {
    width: 16px;
    height: 16px;
    border-width: 0;
    background: #577b84;
    border-radius: 50%;
}
.fotorama__dot {
	background: #00566d;
}
.home-slide__head,
.home-slide__info {
	position: absolute;
}
.fotorama__img {
	top: 65px!important;
}
.home-slide__head {
	top: 0;
	color: #000;
	left: 60%;
	transform: translate(-50%);
	text-align: center;
    line-height: .9;
}
.home-slide__info {
	bottom: 10px;
}
.home-slide__list li:nth-child(1) {
	margin-left: 80px;
}
.home-slide__list li:nth-child(2) {
	margin-left: 55px;
}
.home-slide__list li {
	margin-bottom: 16px;
	margin-left: 30px;
	color: #0e2930;
	display: flex;
    align-items: center;
}
.home-slide__list li i:before {
	background: #0e2930;
}
.home-slide__icon,
.home-slide__icon span {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	align-items: center;
}
.home-slide__icon span img {
	display: block;
}
.home-slide__icon span p {
	color: #000;
	margin: 0 80px 0 40px;
}
/*-- advantages --*/
.advantages {
	position: relative;
	padding: 100px 0 200px;
}
.advantages:before {
	width: 85%;
    right: -18.5%;
}
.advantages-bg {
	position: absolute;
	bottom: 65px;
	right: 0;
}
.section-title {
	display: inline-block;
	padding-bottom: 20px;
	position: relative;
}
.section-title:before {
	content: '';
	position: absolute;
	width: 120%;
	height: 3px;
	background: #008db3;
	left: -90px;
	bottom: 0;
}
.advantages-list li:nth-child(1) {
	max-width: 70%;
}
.advantages-list li:nth-child(2) {
	max-width: 67%;
}
.advantages-list li:nth-child(3) {
	max-width: 57%;
}
.advantages-list li:nth-child(4) {
	max-width: 53%;
}
.advantages-list li:nth-child(5) {
	max-width: 49%;
}
.advantages-list li:nth-child(6) {
	max-width: 49%;
}
.advantages-list li {
	margin: 28px 0;
	font-size: 22px;
	display: flex;
	align-items: center;
	margin-left: -60px;
}
.check-list {
	background: #22d6b7;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	border-radius: 50%;
	display: inline-table;
	margin-right: 25px;
}
/*-- price --*/
.price {
	background: #8de7ff;
	padding: 70px 0;
}
.section-title_length:before {
	width: 400px;
}
.price__subtitle,
.services__subtitle {
	margin: 30px 0;
}
.price__list {
	margin-left: -35px;
}
.price__item {
	margin-bottom: 35px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.price__item p {
	font-size: 23px;
}
.icon-point {
	position: relative;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	margin-top: 10px;
}
.icon-point:before {
	content: '';
	position: absolute;
	background: #22d6b7;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 15px;
}
/*-- services --*/
.services {
	padding: 70px 0;
	position: relative;
}
.services:before {
	width: 120%;
    right: 55%;
    height: 190%;
}
.form-input {
	width: 270px;
	position: relative;
	box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, .5);
	border-radius: 50px;
	margin-right: 30px;
}
.form-input input {
	width: 100%;
	padding: 15px 20px;
	border-radius: 50px;
	border: none;
	outline: none;
	display: inline-block;
}
.services-card-wrap {
	padding-top: 100px;
}
.services-card {
	border-radius: 35px;
	margin-bottom: 60px;
	padding: 0 15px;
}
.services-card img {
	border-radius: 20px 20px 0 0;
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.services-card__subtext {
	background: #00566d;
	color: #fff;
	padding: 35px 10px;
	text-align: center;
	min-height: 150px;
	border-radius: 0 0 20px 20px;
	box-shadow: inset rgba(0,0,0,.5) 2px -5px 8px, rgba(0,0,0,.8) -2px 3px 6px -3px;
}
.services-card__subtext p {
	font-size: 22px;
}
/*-- carpark --*/
.carpark {
	padding: 70px 0 50px;
	position: relative;
}
.carpark-tabs {
	justify-content: space-between;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin: 100px 0 140px;
}
.carpark-tabs__tab {
	background: #00566d;
	color: #fff;
	padding: 15px 50px;
	display: inline-block;
	border-radius: 50px;
	font-size: 25px;
	cursor: pointer;
}
.carpark-tabs__tab:hover {
	background: #0692b7c2;
}
.carpark-tabs__tab.is-active {
    background: #488596;
}
.carpark-cards {
	flex-flow: wrap;
}
.carpark-cards__card {
	display: none;
	padding: 0 15px 70px;
	width: 50%;
}
.carpark-cards__card.is-active { 
	display: flex;
}
.carpark-cards__img {
	position: relative;
	width: 80%;
}
.carpark-cards__img img {
	width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
}
.carpark-cards__btn {
	position: absolute;
	bottom: 15px;
	left: 15px;
	background: #00566dc2;
	color: #fff;
	font-size: 22px;
	padding: 12px 35px;
}
.carpark-cards__btn:hover {
	background: #0692b7c2;
	color: #fff;
}
.carpark-cards__info {
	background: #00566d;
	color: #fff;
	padding: 15px;
	box-shadow: inset rgba(0,0,0,.5) -5px 0px 15px, rgba(0,0,0,.8) 4px 0px 0px -4px;
	border-radius: 0 20px 20px 0;
}
.carpark-cards__title {
	margin-bottom: 20px;
	display: inline-block;
}
.carpark-cards__info p {
	margin-bottom: 25px;
	font-size: 20px;
}
.carpark-cards-modal {
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: url('../img/car-modal-fon.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	z-index: 999999;
	transition: all .5s;
	overflow: auto;
}
.carpark-cards-modal-head .logo {
    width: 100%;
    max-width: 340px;
}
.carpark-cards-modal-head {
	padding: 45px 45px 100px;
}
.carpark-cards-modal-head  .close-popup {
    top: 80px;
    right: 80px;
    width: 90px;
    height: 90px;
    background: #f96575;
    border-radius: 50%;
    box-shadow: 0px 2px 14px 10px rgba(250, 250, 250, .8);
}
.carpark-cards-modal-head .close-popup:before,
.carpark-cards-modal-head .close-popup:after {
    width: 65px;
    height: 8px;
    background: #fffefe;
    border-radius: 50px;
    top: 40px;
    left: 12px;
}
.carpark-cards-modal__text .carpark-cards__title,
.carpark-cards-modal__text p {
    margin-bottom: 0;
    color: #fff;
}
.carpark-cards-modal__text .carpark-wrap {
	max-width: 440px;
}
.carpark-cards-modal__btn {
	display: inline-table;
	margin-top: 60px;
	font-size: 35px;
	padding: 20px 55px;
}
.car-modal__gallery {
	margin-top: 20px;
}
.car-modal__gallery img {
	width: 100%;
    max-width: 30%;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 0px 2px 14px 10px rgba(250, 250, 250, .2);
}
.carpark-cards-modal__gallery {
	display: none;
}
/*-- footer --*/
.footer {
	background: #7e7373;
	padding: 70px 0 30px;
}
.footer p {
	color: #fff;
}
.footer-contacts a,
.footer-contacts i {
	display: block;
	color: #fff;
}
.footer-contacts i {
	margin-bottom: 20px;
	font-size: 30px;
	text-shadow: 0px 4px 12px rgba(0, 0, 0, .5);
}
.footer-contacts a {
	padding: 5px 0;
}
.footer-contacts a:hover {
	color: #00566d;
}
.footer-contacts {
	text-align: center;
}
.footer-copy {
	margin-top: 70px;
}
/*-- PAGE NAWLYWEDS end CONTACTS --*/
.header-blur {
	position: relative;
	background: url('../img/bg-page2.png') no-repeat center /cover;
	color: #fff;
}
.header-blur .navigation-menu li a {
    color: #fff;
}
.header-blur .navigation-menu li a:before {
	border-bottom: 2px solid #fff;
}
.nawlyweds,
.contacts {
	padding: 45px 0 20px;
}
.nawlyweds .section-title:before,
.contacts .section-title:before  {
	width: 105%;
	background: #fff;
}
.nawlyweds .section-title {
	margin-bottom: 30px;
}
.nawlyweds-text li {
	margin-bottom: 40px;
	font-size: 25px;
}
.nawlyweds-text li:nth-child(1) {
	max-width: 65%;
}
.nawlyweds-text li:nth-child(2) {
	max-width: 80%;
}
.nawlyweds-text li:nth-child(3) {
	max-width: 75%;
}
.nawlyweds-text li:nth-child(4) {
	max-width: 100%;
}
/*-- contacts --*/
.contacts-text li {
	margin-bottom: 8px;
	font-size: 23px;
}
.contacts-text {
	margin-top: 25px;
}
.contacts-text li a {
	margin-bottom: 8px;
	font-size: 20px;
	display: block;
	color: #fff;
}
.contacts-text li:nth-child(1) {
	margin-bottom: 20px;
}
/*-- MEDIA QUERIES --*/
/*-- 1700-1800px col-lg --*/
@media screen and (max-width: 1800px) {
	.advantages:before {
	    width: 87%;
	}
	.services:before {
	    width: 97%;
	}
	.carpark:before {
	    width: 50%;
	    left: -71.6%;
	}
}
/*-- 1600-1700px col-lg --*/
@media screen and (max-width: 1700px) {
	.container {
	    max-width: 1300px;
	}
	h2 {
	    font-size: 34px;
	}
	.section-title:before {
	    width: 115%;
	}
	.section-title_length:before {
		width: 125%;
	}
	.section-title_length:before {
	    width: 400px;
	}
	.header-overlay:before {
	    width: 54%;
	    right: -17.8%;
	}
	.fotorama__nav-wrap {
	    top: 180px;
	    left: -260px;
	}
	.advantages:before {
	    width: 89%;
	    right: -18.1%;
	}
	.advantages-bg {
	    width: 1070px;
	}
	.advantages-bg img {
		width: 100%;
	}
	.carpark:before {
	    width: 47%;
	    left: -72.1%;
	}
	.carpark-tabs__tab {
	    padding: 15px 35px;
	}
}
/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1600px) {
	.container {
		max-width: 1200px;
	}
	h1 {
		font-size: 60px;
	}
	.navigation {
	    padding-right: 140px;
	}
	.navigation-menu li a {
	    font-size: 19px;
	}
	.header-overlay:before {
	    right: -18.8%;
	}
	.fotorama__stage {
		min-height: 625px;
	}
	.advantages:before {
	    right: -21.4%;
	    width: 92%;
	}
	.carpark:before {
	    left: -77.3%;
	}
	/*page nawlyweds*/
	.nawlyweds-text li,
	.contacts-text li {
	    font-size: 18px;
	}
	.nawlyweds-text li {
	    margin-bottom: 20px;
	}
	.carpark-cards-modal-head .logo {
	    max-width: 210px;
	}
	.carpark-cards-modal-head .close-popup {
	    top: 55px;
	    right: 60px;
	    width: 60px;
	    height: 60px;
	}
	.carpark-cards-modal-head .close-popup:before, 
	.carpark-cards-modal-head .close-popup:after {
	    width: 40px;
	    height: 5px;
	    top: 28px;
	    left: 10px;
	}
	.carpark-cards-modal-head {
	    padding: 15px 25px 60px;
	}
	.carpark-cards-modal__btn {
	    padding: 12px 35px;
    	margin-left: 35px;
    	font-size: 25px;
	}
	.carpark-cards-modal__text .carpark-cards__title, .carpark-cards-modal__text p {
	    font-size: 18px;
	}
	.car-modal__gallery img {
	    max-width: 25%;
	}
}
/*-- 1400-1500px col-lg --*/
@media screen and (max-width: 1500px) {
	.logo {
	    max-width: 230px;
	}
	.navigation {
	    padding-right: 85px;
	}
	.navigation-menu {
	    width: 530px;
	}
	.navigation-menu li a {
	    font-size: 20px;
	}
	.header-overlay:before {
	    width: 52%;
	    right: -17.4%;
	}
	.fotorama__nav-wrap {
	    top: 165px;
	    left: -230px;
	}
	h1 {
	    font-size: 50px;
	}
	h2 {
	    font-size: 30px;
	}
	.home-offer__subtitle {
	    font-size: 27px;
	    margin: 15px 0;
	}
	p {
	    font-size: 20px;
	}
	.btn {
	    font-size: 23px;
	}
	.fotorama__nav__frame.fotorama__active .fotorama__dot, 
	.fotorama__dot,
	.icon-point:before {
	    width: 12px;
	    height: 12px;
	}
	.fotorama__nav--dots .fotorama__nav__frame {
	    width: 50px;
	}
	.fotorama__nav-wrap {
	    top: 175px;
	    left: -235px;
	}
	.fotorama__stage {
		min-height: 550px;
	}
	.home-slide__head {
	    left: 60%;
	}
	.home-slide__list li {
	    margin-bottom: 10px;
	    margin-left: 0;
	}
	.home-slide__list li:nth-child(2) {
	    margin-left: 25px;
	}
	.home-slide__list li:nth-child(1) {
	    margin-left: 50px;
	}
	.home-slide__icon span div {
		width: 95px;
	}
	.home-slide__icon span div img {
		width: 100%;
	}
	.home-slide__icon span p {
	    color: #000;
	    margin: 0 40px 0 15px;
	}
	.advantages:before {
	    right: -19.3%;
	}
	.services:before {
	    width: 95%;
	}
	.services-card__subtext {
	    min-height: 180px;
	    padding: 35px 10px;
	}
	.carpark:before {
	    left: -82.3%;
	}
	.carpark-tabs__tab {
	    padding: 10px 30px;
	    font-size: 22px;
	}
}
/*-- 1200-1400px col-lg --*/
@media screen and (max-width: 1400px) {
	.container {
		max-width: 1100px;
	}
	.header-overlay:before {
	    width: 57%;
    	right: -22.1%;
	}
	.fotorama__nav-wrap {
	    top: 135px;
	    left: -210px;
	}
	.advantages:before {
	    right: -21.6%;
	    width: 95%;
	}
	.advantages-bg {
	    bottom: 20px;
	}
	.services:before {
	    width: 100%;
	}
	.carpark:before {
	    left: -134.4%;
	}
	.carpark-cards__card {
		flex-direction: column;
	}
	.carpark-cards__img {
	    width: 100%;
	}
	.carpark-cards__img img {
	    border-radius: 20px 20px 0 0;
	    height: 300px;
	}
	.carpark-cards__info {
	    border-radius: 0 0 20px 20px;
	    padding: 20px 50px;
	    min-height: 490px;
	}
	.carpark-cards__title {
	    font-size: 25px;
	    font-weight: 700;
	}
	.footer {
	    padding: 40px 0 20px;
	}
}
/*-- 1200-1400px col-lg --*/
@media screen and (max-width: 1300px) {
	.container {
	    max-width: 1000px;
	}
	h2 {
	    font-size: 28px;
	}
	.section-title:before {
	    width: 115%;
	    left: -65px;
	}
	.section-title_length:before {
	    width: 280px;
	}
	.logo {
	    max-width: 190px;
	}
	.navigation {
	    padding-right: 70px;
	}
	.navigation-menu {
	    width: 490px;
	}
	.navigation-menu li a {
	    font-size: 17px;
	}
	.header-overlay:before {
	    right: -22.5%;
	}
	.fotorama__nav-wrap {
	    top: 130px;
	    left: -195px;
	}
	.fotorama__stage {
		min-height: 510px;
	}
	.advantages:before {
	    right: -25.1%;
	    width: 100%;
	}
	.services-card {
	    padding: 0;
	}
	.carpark:before {
	    left: -142.8%;
	}
	.carpark-tabs__tab {
	    padding: 10px 22px;
	    font-size: 20px;
	}
	/*page nawlyweds*/
	.nawlyweds-text li:nth-child(1) {
	    max-width: 75%;
	}
	.nawlyweds-text li:nth-child(2) {
	    max-width: 90%;
	}
	.nawlyweds-text li:nth-child(3) {
	    max-width: 85%;
	}
	.footer-contacts a {
	    font-size: 18px;
	}
	.carpark-cards-modal-head {
	    padding: 15px 20px 40px;
	}
	.carpark-cards-modal-head .logo {
	    max-width: 230px;
	}
	.carpark-cards-modal-head .close-popup {
	    top: 20px;
	    right: 40px;
	}
}
/*-- 992-1200px col-lg --*/
@media screen and (max-width: 1200px) {
	.container {
		max-width: 960px;
	}
	.logo {
	    max-width: 180px;
	}
	h1 {
	    font-size: 45px;
	}
	h3 {
	    font-size: 26px;
	}
	.section-title:before {
	    width: 104%;
	    left: -15px;
	}
	.section-title_length:before {
	    width: 200px;
	}
	.home-offer__subtitle {
	    font-size: 24px;
	}
	.header-overlay:before {
	    right: -23.3%;
	    width: 58%;
	}
	.fotorama__nav-wrap {
	    top: 115px;
	    left: -155px;
	}
	.fotorama__stage {
		min-height: 460px;
	}
	.home-slide__head {
	    left: 64%;
	    top: 12px;
	}
	.home-slide__list li {
	    margin-bottom: 7px;
	    font-size: 20px;
	}
	.advantages:before {
	    width: 114%;
	    right: -30.1%;
	}
	.advantages-bg {
	    width: 85%;
	}
	.advantages-list li {
	    margin-left: 0;
	}
	.price__list {
	    margin-left: 0;
	}
	.services:before {
	    width: 105%;
	}
	.carpark:before {
	    left: -169.3%;
	}
	.carpark-tabs__tab {
	    padding: 7px 13px;
	    font-size: 19px;
	}
	.carpark-cards-modal-head .logo {
	    max-width: 170px;
	}
	.carpark-cards-modal-head .close-popup {
	    width: 50px;
	    height: 50px;
	}
	.carpark-cards-modal-head .close-popup:before, 
	.carpark-cards-modal-head .close-popup:after {
	    width: 35px;
	    height: 3px;
	    top: 25px;
	    left: 8px;
	}
	.carpark-cards__title {
	    font-size: 23px;
	}
	.carpark-wrap p {
		font-size: 18px;
	}
	.carpark-cards-modal__btn {
	    padding: 13px 30px;
	}
}
/*-- 768-992px col-lg --*/
@media screen and (max-width: 992px) {
	h1 {
	    font-size: 40px;
	}
	p {
	    font-size: 18px;
	}
	.home-offer__subtitle {
	    font-size: 20px;
	}
	.header-overlay:after {
	    left: -55%;
	    width: 100%;
	}
	.header-overlay:before {
	    right: -83.3%;
    	width: 125%;
	}
	.home-offer {
	    width: 100%;
	    padding: 60px 0 50px 65px;
	}
	.btn {
	    font-size: 22px;
	    padding: 10px 35px;
	}
	.fotorama {
		display: none;
	}
	.home-slide__info_mobile {
		display: block;
		bottom: 25px;
	}
	.home-slide__info_mobile .home-slide__icon span {
		position: relative;
		margin-bottom: 25px;
	}
	.home-slide__info_mobile .home-slide__icon span:first-child {
		margin-left: 135px;
	}
	.home-slide__info_mobile .home-slide__icon span:nth-child(2) {
		margin-left: 105px;
	}
	.home-slide__info_mobile .home-slide__icon span:last-child {
		margin-left: 70px;
	}
	.home-slide__info_mobile .home-slide__icon span:first-child:before {
		width: 94%;
	}
	.home-slide__info_mobile .home-slide__icon span:before {
		content: '';
		position: absolute;
		bottom: -6px;
		left: -10px;
		width: 95%;
		height: 3px;
		background: #00566d;
	}
	.home-slide__info_mobile .home-slide__icon {
		margin-bottom: 30px;
	}
	.home-slide__icon span div {
	    max-width: 45px;
	}
	.home-slide__icon span p {
	    margin: 0 30px 0 15px;
	    font-size: 15px;
	    color: #0e2930;
	}
	.home-slide__list li:nth-child(1) {
	    margin-left: 65px;
	}
	.home-slide__list li:nth-child(2) {
	    margin-left: 45px;
	}
	.home-slide__list li:nth-child(3) {
	    margin-left: 25px;
	}
	.home-slide__list li:nth-child(4) {
	    margin-left: 5px;
	}
	.home-slide__list li:nth-child(5) {
	    margin-left: -15px;
	}
	.navigation {
	    display: none;
	}
	/*hamburger*/
	#menuToggle span {
	    display: block;
	    width: 45px;
	    height: 5px;
	    background: #000;
	    border-radius: 5px;
	    margin-left: auto;
	    margin-bottom: 8px;
	    cursor: pointer;
	}
	.hamburger {
	    margin-top: 6px;
	    cursor: pointer;
	    margin-left: auto;
	}
	.section-title:before {
	    width: 100%;
	    left: 0;
	}
	.section-title_length:before {
	    width: 200px;
	}
	.advantages:before {
	    width: 134%;
	    right: -49.5%;
	}
	.check-list {
	    padding: 5px;
	    font-size: 14px;
	}
	.price__item p {
	    font-size: 21px;
	}
	.services:before {
	    width: 110%;
	    right: 70%;
	}
	.form-input {
	    width: 230px;
	    margin-right: 15px;;
	}
	.carpark:before {
	    display: none;
	}
	.carpark-tabs {
		flex-flow: wrap;
		justify-content: center;
		margin: 70px 0 70px;
	}
	.carpark-cards__card {
	    padding: 0 15px 70px;
	}
	.carpark-tabs__tab {
	    padding: 10px 25px;
	    margin-left: 25px;
	    margin-bottom: 25px;
	}
	.carpark-cards__info {
	    padding: 20px 25px;
	}
	.carpark-cards__btn {
	    bottom: 10px;
	    left: 4px;
	    font-size: 20px;
	    padding: 8px 20px;
	}
	.footer-contacts i {
	    font-size: 25px;
	}
	.footer-contacts a,
	.footer-contacts p,
	.footer p {
		font-size: 17px;
	}
	.footer-copy {
	    margin-top: 30px;
	}
	.carpark-cards__title {
	    font-size: 20px;
	}
	.carpark-wrap p {
		font-size: 16px;
	}
	.btn {
	    font-size: 21px;
	    padding: 10px 23px;
	}
	.car-modal__gallery img {
	    max-width: 45%;
	}
}
/*-- 575-768px col-lg --*/
@media screen and (max-width: 768px) {
	h1 {
	    font-size: 35px;
	}
	h2 {
	    font-size: 25px;
	}
	.nav-menu {
	    padding: 15px 10px;
	}
	#menuToggle span {
	    display: block;
	    width: 35px;
	    height: 3px;
	    background: #000;
	    border-radius: 5px;
	    margin-left: auto;
	    margin-bottom: 6px;
	    cursor: pointer;
	}
	.header-overlay:after {
	    left: -45%;
	}
	.logo {
	    max-width: 145px;
	}
	.header-overlay:before {
	    right: -81.3%;
	}
	.home-offer {
	    width: 100%;
	    padding: 25px 0 35px 30px;
	}
	.home-offer__subtitle {
	    font-size: 17px;
	}
	.btn {
	    font-size: 20px;
	    padding: 8px 30px;
	}
	.home-offer__subtext {
		font-size: 14px;
	}
	.home-slide__list li {
	    margin-bottom: 4px;
	    font-size: 15px;
	}
	.fotorama__nav__frame.fotorama__active .fotorama__dot, .fotorama__dot, .icon-point:before {
	    width: 7px;
	    height: 7px;
	}
	.icon-point {
	    width: 8px;
	    height: 8px;
	    margin-top: 0px;
	}
	.home-slide__list li:nth-child(1) {
	    margin-left: 10px;
	}
	.home-slide__list li:nth-child(2) {
	    margin-left: -5px;
	}
	.home-slide__list li:nth-child(3) {
	    margin-left: -20px;
	}
	.home-slide__list li:nth-child(4) {
	    margin-left: -35px;
	}
	.home-slide__list li:nth-child(5) {
	    margin-left: -50px;
	}
	.home-slide__info_mobile .home-slide__icon {
	    margin-bottom: 10px;
	}
	.home-slide__info_mobile .home-slide__icon span {
	    margin-bottom: 17px;
	}
	.home-slide__info_mobile .home-slide__icon span:first-child {
		margin-left: 110px;
	}
	.home-slide__info_mobile .home-slide__icon span:nth-child(2) {
		margin-left: 70px;
	}
	.home-slide__info_mobile .home-slide__icon span:last-child {
		margin-left: 35px;
	}
	.home-slide__info_mobile .home-slide__icon span:first-child:before {
		width: 94%;
	}
	.home-slide__icon span div {
	    max-width: 35px;
	}
	.home-slide__icon span p {
	    margin: 0 20px 0 5px;
	    font-size: 14px;
	}
	.home-slide__icon span p i {
	    font-size: 10px;
	}
	.advantages-bg {
	    bottom: 0px;
	}
	.advantages:before {
	    width: 165%;
	    right: -69.9%;
	}
	.advantages-list li:nth-child(1) {
	    max-width: 100%;
	}
	.advantages-list li:nth-child(2) {
	    max-width: 100%;
	}
	.advantages-list li:nth-child(3) {
	    max-width: 85%;
	}
	.advantages-list li:nth-child(4) {
	    max-width: 80%;
	}
	.advantages-list li:nth-child(5) {
	    max-width: 100%;
	}
	.price {
	    padding: 25px 0;
	}
	.price__subtitle, .services__subtitle {
	    margin: 20px 0;
	}
	.price__item {
	    margin-bottom: 11px;
	}
	.price__item .icon-point:before,
	.price__item .icon-point  {
	    width: 10px;
	    height: 10px;
	    margin-top: 5px;
	}
	.services {
	    padding: 50px 0 25px;
	}
	.services:before {
	    right: 120%;
	}
	.form-input {
	    width: 175px;
	    font-size: 18px;
	}
	.services-form .btn {
	    font-size: 20px;
	    padding: 14px 26px;
	}
	.services-card-wrap {
	    padding-top: 40px;
	}
	.services-card__subtext p {
	    font-size: 18px;
	}
	.services-card__subtext {
	    min-height: 125px;
	    padding: 20px 10px;
	}
	.services-card {
	    margin-bottom: 40px;
	}
	.carpark {
	    padding: 25px 0;
	}
	.carpark-tabs {
	    margin: 40px 0 30px;
	}
	.carpark-tabs__tab {
	    padding: 7px 30px;
	    margin-left: 15px;
	    margin-bottom: 20px;
	}
	.carpark-cards__card {
	    width: 50%;
	    padding: 0 8px 40px;
	}
	.carpark-cards__info {
	    padding: 15px 10px;
	}
	.carpark-cards__title {
	    font-size: 18px;
	    margin-bottom: 7px;
	}
	.carpark-cards__btn {
	    bottom: 7px;
	    font-size: 17px;
	    padding: 8px 20px;
	    background: #00566d7d;
	}
	.carpark-cards__info p {
	    margin-bottom: 10px;
	    font-size: 14px;
	}
	.carpark-cards__info {
	    min-height: 280px;
	}
	.footer {
	    padding: 20px 0 10px;
	}
	.footer-contacts i {
	    font-size: 20px;
	}
	.footer-contacts a, .footer-contacts p, .footer p {
	    font-size: 15px;
	}
	.carpark-cards-modal {
		background-position: 34%;
	}
	.carpark-cards-modal-head .close-popup {
	    width: 40px;
	    height: 40px;
	}
	.carpark-cards-modal-head .close-popup:before, .carpark-cards-modal-head .close-popup:after {
	    width: 28px;
	    top: 20px;
	    left: 7px;
	}
}
/*-- 420-575px col-lg --*/
@media screen and (max-width: 575px) {
	h1 {
	    font-size: 43px;
	}
	.home-offer__title {
	    text-shadow: none;
	}
	.header-overlay:after {
		transform: skewX(19.5deg);
	}
	.advantages:before, .services:before {
	    transform: skewX(-14.5deg);
	    opacity: 0.7;
	}
	.services:before {
	    right: 140%;
	}
	#menuToggle span {
	    width: 40px;
	    height: 4px;
	}
	.logo {
	    max-width: 165px;
	}
	.btn {
	    font-size: 19px;
	    padding: 10px 33px;
	}
	.header-overlay:before {
	    display: none;
	}
	.header-overlay:after {
	    transform: skewX(26deg);
	    left: -108px;
	}
	.home-offer-slider {
		display: none;
	}
	.home-offer {
	    padding: 50px 0 80px 25px;
	}
	.home-offer__subtitle {
	   	font-size: 20px;
    	margin: 25px 0;
	}
	.home-offer__btn {
	    margin-bottom: 15px;
	    padding: 14px 50px;
	    font-size: 21px;
	}
	.home-offer__subtext {
	    font-size: 14px;
	}
	.price__item p {
	    font-size: 19px;
	}
	.form-input {
	    width: 80%;
	    display: block;
	    margin-bottom: 30px;
	}
	.services-form .btn {
	    font-size: 22px;
	    padding: 16px 40px;
	}
	.services-card__subtext p {
	    font-size: 20px;
	}
	.services-card__subtext {
	    min-height: 110px;
	}
	.carpark-cards__card {
	    width: 100%;
	}
	.carpark-cards__img .btn {
	    padding: 13px 40px;
	}
	.nawlyweds-text li {
	    font-size: 18px;
	}
	.car-modal__gallery img {
	    max-width: 90%;
	}
	.modal-form_thank {
		width: 95%;
	}
	.modal-form {
	    width: 90%;
	}
	.carpark-cards-modal {
	    background-position: 25%;
	}
}
/*-- 320-420px col-lg --*/
@media screen and (max-width: 414px) {
	h2 {
	    font-size: 22px;
	}
	p {
	    font-size: 16px;
	}
	.header-overlay:after {
	    left: -130px;
	    width: 136%;
	}
	.advantages-list li:nth-child(3) {
	    max-width: 100%;
	}
	.advantages-list li:nth-child(4) {
	    max-width: 100%;
	}
	.advantages-list li:nth-child(6) {
	    max-width: 100%;
	}
	.advantages-bg {
	    width: 100%;
	}
	.check-list {
	    font-size: 10px;
	}
	.price__item p {
	    font-size: 14px;
	}
	.carpark-cards__img .btn {
	    padding: 10px 40px;
	}
	.nawlyweds-text li,
	.contacts-text li {
	    font-size: 16px;
	}
	.nawlyweds-text li {
	    margin-bottom: 20px;
	}
	.nawlyweds-text li:nth-child(1) {
	    max-width: 100%;
	}
	.nawlyweds-text li:nth-child(2) {
	    max-width: 100%;
	}
	.nawlyweds-text li:nth-child(3) {
	    max-width: 100%;
	}
	.carpark-cards-modal-head {
	    padding: 15px 5px 40px;
	}
	.carpark-cards-modal-head .logo {
	    max-width: 135px;
	}
	.carpark-cards-modal__text {
		flex-direction: column;
	}
	.carpark-cards-modal__btn {
	   	margin-left: 0;
	   	margin-top: 30px;
	}
	.carpark-cards-modal-head .close-popup {
	    top: 10px;
	    right: 20px;
	}
	.menu-modal {
	    max-height: 57%;
	}
}
/*-- 320-420px col-lg --*/
@media screen and (max-width: 321px) {
	.advantages:before {
	    width: 201%;
	}
}